/*Своя ерунда */
.album
{
	width: 750px; height: 400px; margin: auto;
}
.track
{

}
/*
.form
{
	margin: 50px auto;

}
/*
.form-main {
	width: 520px;
	margin: auto;
	height: 410px;
	background-color: wheat;
}

*/

/* Переопределение materialize.css */
label {
	font-size: 1.6rem;
}

input[type=text]
{
	font-size: 1.5rem;
}
/* Совсем старое */
/*.input_input {
	display: table-cell;
	width:   175px;
	height:  24px;
}

#but {
	height: 30px;
}

.input_text {
	display:     table-cell;
	width:       190px;
	height:      22px;
	margin-left: 5px;
}

header {
	width:            380px;
	background-color: #d3ba75;
	padding:          5px;
	margin:           auto;
	border:           2px black solid;
	border-radius:    5px;
}

.charts {
	margin-left:      50px;
	margin-right:     50px;
	margin-top:       5px;

	background-color: rgba(211, 186, 117, 0.45);
	font: bold 10px;
}

.artist, .album, .album_logo, .date, .track {
	display:      table-cell;
	margin-right: 20px;
	font-size:    xx-large;
	font-family:  'Roboto', sans-serif;
}

body {
	/!* background: url(doge.jpg);*!/
}*/
